.main-dash-container{ 
  padding-bottom: 30%;
  background-color:#cfcaca;
}
  .courses-btn{
    font-size: 15px;
    background: #f3f0f0;
    border-radius: 15px;
    border-style: hidden;
    margin-top: 80px;
    margin-left: 50px;
    width: 280px;
    height: 250px;
  }
  .enrolled-students-btn{
    font-size: 15px;
    background: #f3f0f0;
    border-radius: 15px;
    border-style: hidden;
    margin-left: 100px;
    width: 280px;
    height: 250px;
  }
  .horizontal-line{
    text-align: center;
    background-color: black;
    width: 90%;
    height: 3px;
    margin-top: 5px;
    margin-left: 13px;
    margin-bottom: 50px;
  }
  .horizontal_line{
    margin-left: 110px;
    width: 90%;
    height: 3px;
    background-color: #bdb8b8;
  }
  .horizontal-line-en{
    text-align: center;
    background-color: black;
    width: 90%;
    height: 3px;
    margin-top: 5px;
    margin-left: 13px;
    margin-bottom: 50px;
  }
  .dash-label{
    line-height: 5px;
    margin-top: 10px;
    font-size: 25px;
  }
  .course-icon{
    width: 70px;
    height: 45px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .enrolled-stud-icon{
    width: 70px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .proceed-icon{
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  .number-of-students{
    font-size: 35px;
  }


