.login-label {
    margin-left: 149px;
    font-size: 48px;
    color: #000000;
}
.login-input {
    padding-left: 32px;
    height: 42px;
    width: 400px;
    border-radius: 20px;
    border-style: hidden;
    background: #FFFFFF;
}
.margin-top {
    margin-top: 30px;
}
.login-container {
    background-color:#dcdcdc;
    height: calc(100vh - 133px);
    padding-top: 132px;
    padding-left: 200px;
    flex: 1;
    
}
.logo-container {
    text-align: center;
    width: 527px;
    /* height: 1024px; */
    background: #008081;
    
    
}
.main-container {
    display: flex;
}
.login-btn {
    font-size: 25px;
    color: #FFFFFF;
    background: #008081;
    border-radius: 15px;
    border-style: hidden;
    margin-top: 30px;
    margin-left: 150px;
    width: 187px;
    height: 50px;
}
.email-field-container {
    position: relative;
}
.email-icon {
    position: absolute;
    top: 32px;
    left: 10px;
}
.password-field-container {
    position: relative;
}
.password-icon {
    position: absolute;
    top: 32px;
    left: 10px;
}