.login-label {
    text-align: center;
    font-size: 48px;
    color: #000000;
}
.login-input {
    padding-left: 20px;
    height: 42px;
    width: 400px;
    border-radius: 20px;
    border-style: hidden;
    background: #FFFFFF;
}
.margin-top {
    margin-top: 30px;
}
.login-container {
    background-color:#dcdcdc;
    height: calc(100vh - 133px);
    padding-top: 132px;
    padding-left: 275px;
    flex: 1;
    
}
.logo-container {
    width: 527px;
    /* height: 1024px; */
    background: #008081;
}
.main-container {
    display: flex;
}
.login-btn {
}